header {
     background-color:skyblue;
     font-family: arial;
     margin: 0px;
     padding: 0px;
}

body{
	color: black;
	text-decoration:none;
	padding: 0px;
  margin: 0px;
  width: 100%;
}
h1{
	color: red;
	text-align: center;
  font-family: arial;
}
h4{
  font-family: arial;
}
p{
     font-family: arial;
}
footer {

     background-color: pink;
}
  nav ul {
    list-style: none;
    display: flex;
  }
  ul{
padding: 10px;

  }
  li{
padding: 10px;

  }
  a{
  	text-decoration:none;
  }
  button {
     color: white;
     background-color: white;
     border-radius: 40px;
     padding: 4px;
     margin: 4px;
}
section id{
	text-align: left;

}



.slideshow-container {
    position: relative;
    margin: auto;
    height: 200px;
  }
  
  .slide {
    display: none;
    text-align: center;
  }
  
  .slide img {
    height: 300px;
  }







  form{
    font-family: arial;
  } 

  label {
    display: block;
    margin-bottom: 5px;
  }
  
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }


    .progress-bar {
    width: 30%;
    height: 20px;
    background-color: #504c4c;
    border-radius: 20px;
  }
  
  .progress {
    width: 60%;
    height: 100%;
    background-color: #0661d8;
    border-radius: 5px;
    transition: width 0.3s ease;
  }
  .progress2 {
    width: 50%;
    height: 100%;
    background-color: #0661d8;
    border-radius: 5px;
    transition: width 0.3s ease;
  }
  .progress3 {
    width: 70%;
    height: 100%;
    background-color: #0661d8;
    border-radius: 5px;
    transition: width 0.3s ease;
  }
  progress 4{
    width: 40%;
    height: 100%;
    border-color: green;
    border-radius: 5px;
    transition: 0.3s ease;
  }